header ul {
    float: right;
}

header span {
    list-style-type: none;
    display: inline;
    padding: 0 .2rem 0 .2rem;
    vertical-align: middle;
}

.line-numbers {
    counter-reset: line;
}

.line-numbers span:before, .line-numbers div:before {
    content: counter(line);
    counter-increment: line;
}