{% extends 'layouts/base.njk' %}


{% set tags = collections.tags %}

{% block content %} 
    <p>Pick a package to see what it's for, installation instructions and more.</p>
    <p>Check out category tags on the right pane for quick tools overview by category.</p>

    {% set packages = collections.packages %}
    
    {% include "packages_list.njk" %}

{% endblock %}
