---
permalink: /tags/
title: Tags
---
{% extends 'layouts/base.njk' %}

{% block body %}

<div class="flex">
{% set inlineTooltip = 0 %}
{% for tagName in collections.tags %}
    {% tag tagName, inlineTooltip %}
{% endfor %}
</div>

{% endblock %}
