<!DOCTYPE html>
<html lang="{{ metadata.language }}" class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include 'layouts/meta.njk' %}

    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | url }}" />

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <title>{% if metadata.title %}{{ metadata.title }}{% else %}{{ title }}{% endif %}{% if metadata.title or title %} | {% endif %}{{ site.name }}</title>

    {% block styles %}
      <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
      <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
      <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
      <link rel="stylesheet" href="{{ '/css/themes/prism-material-dark.css' | url }}" />
      <link rel="stylesheet" href="{{ '/css/line-awesome.min.css' | url }}" >
    {% endblock %}

    <script data-goatcounter="https://require-dev.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    
    {% block scripts %}
      <script src="{{ '/js/prism.js' | url }}"></script>
    {% endblock %}

    {% block head %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-screen bg-gradient-to-br from-pink-400 via-indigo-400 to-cyan-400 m-0 m-auto">
    {# {% include 'top-notice.njk' %} #}
    {# {% include 'header.njk' %} #}
    <main class="container mx-auto max-w-4xl p-8 grow">
      {% block body %}default body{% endblock %}
    </main>
    {% include 'layouts/footer.njk' %}
    {# {% include 'privacy-notice.njk' %} #}
  </body>
</html>
