{% extends 'layouts/base.njk' %}

{% block content %}

<div data-prismjs-copy="Copy">
{% highlight "bash" %}
composer require --dev "{{package_name}}": "{{package_version}}"
{% endhighlight %}
</div>

{{ content | safe }}


{% endblock %}